/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: rgb(120, 120, 120);
  color: #fff;
  animation: change-background-color 1s ease-in-out forwards;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes change-background-color {
  0% {
    background-color: rgb(199, 247, 182);
    color: #000;
  }
  50% {
    background-color: rgb(120, 120, 120);
    color: #fff;
  }
  100% {
    background-color: rgb(199, 247, 182);
    color: #000;
  }
}

#homePage h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  animation: zoom-out 0.5s ease-in-out forwards;
}

@keyframes zoom-out {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#homePage p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
  animation: type-text 1s ease-in-out forwards;
}

@keyframes type-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 1;
  }
}
/*
#homePage > a {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
  text-decoration: underline;
  animation: type-text 1s ease-in-out forwards;
  text-shadow: 0px 0px 0px #000;
  transition: text-shadow 1s ease-in, color 0.5s ease-in-out, font-weight 1s linear, font-size 1s;
}

#homePage > a:hover {
  text-shadow:10px 5px 5px #000;
  color:rgb(120, 120, 120);
  font-weight: 100;
  font-size: 1.5rem;
}

#homePage > a:active {
transition: font-size 0.5s;
  font-size: 1rem;
} */

#storys-list {
  border: 1px solid rgb(160, 249, 130);
  border-radius: 5px;
  background-color:rgb(224, 248, 216);
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  transition: font-size 0.5s ease-in-out, transform 1s linear, box-shadow 0.5s ease-in-out;
  box-shadow: 10px 3px 5px rgba(119, 255, 0, 0.594);
}

#storys-list:hover {
  font-size:  2em;
  transform: translateY(5px);
    box-shadow: 25px 10px 10px rgb(217, 217, 217);
}
